.task{
    float: left;
    display: block;
    width:360px;
    padding:5px;
    color:#f2f2f2;
    font:12pt Helvetica;
    margin:5px;
    clear: both;
    cursor:pointer;
	-webkit-box-shadow: 5px 5px 8px #444;
}
.task:nth-child(even){
    float: right;
}
.task p{
    float:left;
    width:350px;
    padding:10px 5px;
    text-align: justify;
}
.task-blue{
    background-color:#4294DE;
}
.task-blue:hover{
    background-color:#6BA5E7;
}
.task-orange{
    background-color:#D24726;
}
.task-orange:hover{
    background-color:#DC572E;
}
.task-green{
    background-color:#3A9548;
}
.task-green:hover{
    background-color:#3da548;
}

.task .info{
    text-align: right;
}
.task .info span{
    font:11pt Helvetica;
    color:#fff;
    font-weight: bold;
}
.task .task-link{
    color:#fff;
    font-weight: bold;
    font-style: italic;
}
.task .task-link:hover{
    padding:2px;
    text-decoration: underline
}
.task .task-header{
   display: block;
   width:360px;
   text-align: right;
   float: right;
}
.task .task-header a{
   font-weight: bold;
}